<div>
    <div class="row">
        <!--<div class="col-md-2 red">{{segment.label}}</div>-->
        <select class="selectpicker col-md-1 red">
            <optgroup label="Keep This...">
                <option value='{{segment.label}}'>{{segment.label}}</option>
            </optgroup>
            <optgroup label="Remove This...">
                <option value='{{segment.label}}'>{{segment.label}}</option>
            </optgroup>
            <optgroup label="Insert Before...">
                <option value="Tease">Tease</option>
                <option value="Open">Open</option>
                <option value="Intro">Intro</option>
                <option value="Message">Message</option>
                <option value="Product">Product</option>
                <option value="Middle">Middle</option>
                <option value="Interview">Interview</option>
                <option value="Close">Close</option>
            </optgroup>
            <optgroup label="Insert After...">
                <option value="Tease">Tease</option>
                <option value="Open">Open</option>
                <option value="Intro">Intro</option>
                <option value="Message">Message</option>
                <option value="Product">Product</option>
                <option value="Middle">Middle</option>
                <option value="Interview">Interview</option>
                <option value="Close">Close</option>
            </optgroup>
        </select>
        <!--<div class="col-md-4 red">{{segment.label}}</div>-->
        <div class="col-md-11 right">Length: <span class='datapoint red'>{{show.calculateLength(segment)}}</span></div>
    </div>
    <div class="row">
        <div class="col-md-2 right">TC Start:</div>
        <input type='text' class="col-md-2" ng-model="segment.start" />
        <div class="col-md-2 right">TC End:</div>
        <input type='text' class="col-md-2" ng-model="segment.end" />
    </div>
    <div class="row">
        <div class="col-md-2 right">File Name:</div>
        <input class="col-md-9" type='text' ng-model="segment.filename" />
    </div>
    <div class="row">
        <div class="col-md-2 right">Details:</div>
        <input class="col-md-9" type='text' ng-model="segment.details" />
    </div>
</div>
