<div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle col-md-1"
    type="button" data-toggle="dropdown">{{segment.label | uppercase}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-header red">Remove Segment</li>
        <li><a ng-click="modifySegment('Remove', segment,'{{segment.label}}')">Remove</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header red">Insert Before Segment</li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'tease')">Tease</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'open')">Open</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'intro')">Intro</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'message')">Message</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'product')">Product</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'middle')">Middle</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'interview')">Interview</a></li>
        <li><a ng-click="modifySegment('InsertBefore', segment,'close')">Close</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header red">Insert After Segment</li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'tease')">Tease</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'open')">Open</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'intro')">Intro</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'message')">Message</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'product')">Product</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'middle')">Middle</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'interview')">Interview</a></li>
        <li><a ng-click="modifySegment('InsertAfter', segment,'close')">Close</a></li>
    </ul>
</div>
