<HTML ng-app='gmkShowMetricsApp'>

<HEAD>
    <TITLE>Show Metric Tracker</TITLE>
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/homePage.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/displayPage.css" type="text/css" rel="stylesheet" />
</HEAD>

<BODY>
    <div class='container'>
        <nav class="navbar header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.garykeesee.com">
                        <img src="/static/images/GKM_logo_web1.png"/></a>
                </div>
                <ul class="nav navbar-nav navbar-right topPad rightPad">
                    <li>
                        <a class="btn btn-primary btn-lg active" role="button"
                        href='/' style="padding: 5px;">Home Page</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id ='contentBody'>
          <div ng-view>
          </div>
        </div>
        <br/>
        <nav class="navbar footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right rightPad">
                    <li>
                        <a class="btn btn-primary btn-lg active" role="button"
                        href='/' style="padding: 5px;">Home Page</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="/static/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-route.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/angular-resource.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/js/controllers/mainController.js"></script>
    <script src="/static/js/controllers/displayController.js"></script>
    <script src="/static/js/controllers/updateController.js"></script>
    <script src="/static/js/controllers/createController.js"></script>
    <script src="/static/js/services/showService.js"></script>
    <script src="/static/js/directives/display.js"></script>
    <script src="/static/js/directives/update.js"></script>
</BODY>
</HTML>
