#title{
    color: blue;
    text-align: center;
}
.red{
    color: red;
    font-weight: bold;
}
.datapoint{
    font-weight: bold;
    text-decoration: underline;
    padding-left: 2px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.segment{
    border: solid thin orange;
    margin: 10px;
    padding: 5px;
}

input{
  margin-bottom: 2px;
}
.calendar{
  padding-left: 5px;
  padding-right: 5px;
}

button{
  margin-left: 10px;
  margin-right: 10px;
}
/*.buttonMargins{
  margin-top: 10px;
  margin-bottom: 10px;
}*/
.body{
  height: 400px;
}
