li{
    margin: 5px;
}
.header{
    background-color: #d5e0bc;
    /*padding-bottom: 20px;*/
    border-bottom: solid 1px forestgreen;
}
.footer{
    /*padding-bottom: 40px;*/
    background-color: #d5e0bc;
    border-top: solid 1px forestgreen;
}

.topPad{
    padding-top: 55px;
}

#homePage{
    width:100%;
    height:545px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px;
}
#contentBody{
  height: 550px;
}
