<div>
    <h3 id='title'>{{show.data.title}}</h3>

    <div class="row">
        <div class="col-md-4"><span class='red'>Season: </span> {{show.data.season}}</div>
        <div class="col-md-4 center"><span class='red'>Show #: </span> {{show.data.showNumber}}</div>
        <div class="col-md-4 right"><span class='red'>Part/Series: </span> {{show.data.series}}</div>
    </div>
    <div class="row">
        <div class="col-md-4"><span class='red'>Wraps Taped: </span> {{show.data.wraps}}</div>
        <div class="col-md-8 right"><span class='red'>Partner Doner Letter: </span> {{show.data.doner}}</div>
    </div>
    <br />
    <div ng-repeat="segment in show.orderedSegments" class="list-group">
        <tease class="list-group-item" ng-if="segment.label === 'Tease'"></tease>
        <open class="list-group-item" ng-if="segment.label === 'Open'"></open>
        <intro class="list-group-item" ng-if="segment.label === 'Intro'"></intro>
        <message class="list-group-item" ng-if="segment.label === 'Message'"></message>
        <product class="list-group-item" ng-if="segment.label === 'Product'"></product>
        <middle class="list-group-item" ng-if="segment.label === 'Middle'"></middle>
        <interview class="list-group-item" ng-if="segment.label === 'Interview'"></interview>
        <close class="list-group-item" ng-if="segment.label === 'Close'"></close>
    </div>
        <div class="row">
            <div class="col-md-12 left"><span class='red'>Spots: </span> {{show.data.spots}}</div>
        </div>
        <div class="row">
            <div class="col-md-12 left"><span class='red'>Credits: </span> {{show.data.credits}}</div>
        </div>
        <div class="row">
            <div class="col-md-12 left"><span class='red'>Dates Aired: </span> {{show.data.aired}}</div>
        </div>
    </div>