<div id='homePage'>

      <a ng-click="createShow()" style="padding: 5px;">Create New Show</a>

    <table class='table-striped table'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Show #</th>
                <th>Part/Series</th>
                <th>Wraps Taped</th>
                <th>Dates Aired</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="show in shows.data">
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown" style="max-width: 500px; white-space: normal;">
                                {{show.title}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="copyShow(show._id)" href="/#!/update/{{show._id}}">Copy</a></li>
                            <li><a href="/#!/display/{{show._id}}">Display</a></li>
                            <li><a href="/#!/update/{{show._id}}">Update</a></li>
                            <li><a ng-click="deleteShow(show._id)" href="/#!">Delete</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{show.showNumber}}</td>
                <td>{{show.series}}</td>
                <td>{{show.wraps | date:'yyyy-MM-dd'}}</td>
                <td>{{show.aired}}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    
</div>
